<!doctype html>
<html lang="it">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Scuola Sportiva</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body>


	<nav class="navbar navbar-expand-lg bg-body-tertiary">
		<div class="container-fluid">
			<form class="container-fluid justify-content-start" action="/firstPage" method="GET">
				<a class="navbar-brand" href="/firstPage">Scuola sportiva La Marmotta</a>
			</form>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item">
						<form class="container-fluid justify-content-start" action="/sport" method="GET">
							<button class="btn btn-outline-success me-2" type="submit">Sport</button>
						</form>
					</li>
					<li class="nav-item">
						<form class="container-fluid justify-content-start" action="/sedi" method="GET">
							<button class="btn btn-outline-success me-2" type="submit">Sedi</button>
						</form>
					</li>
					<li class="nav-item">
						<form class="container-fluid justify-content-start" action="/istruttori" method="GET">
							<button class="btn btn-outline-success me-2" type="submit">Istruttori</button>
						</form>
					</li>

				</ul>
			</div>
		</div>
	</nav>


	<div class="text-center">
		<img src="https://img.freepik.com/free-photo/sports-tools_53876-138077.jpg?w=1060&t=st=1689267652~exp=1689268252~hmac=9e7c1870b5f2c2d776b788f7d5f295d1cc8e8c6e86ccf24b01f908e071914283"
			class="img-fluid">
	</div>


	<div class="text-center">
		<form action="/recensioni" method="GET">
			<button class="btn btn-success m-auto col-6 mt-5 mb-5" type="submit">Vedi le nostre recensioni</button>
		</form>
	</div>


	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
		crossorigin="anonymous"></script>
</body>

</html>